<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Plataforma de Streaming Angolana , ganhe dinheiro por downloads da sua musica na nossa plataforma, obtenha variados recursos como capa de musicas e publicidade de marketing de suas musicas, assine hoje mesmo">
        <meta name="author" content="Joao Afonso Katombela">

        <title>Pub Music | Todas Músicas</title>

        <link rel="shortcut icon" type="image/x-icon"  href="{{ url_for('static', filename='images/pub.png') }} ">
        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap" rel="stylesheet">
                        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }} ">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }} ">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }} ">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }} ">

        <link href="{{ url_for('static', filename='css/templatemo-pod-talk.css') }} " rel="stylesheet">
<!--

TemplateMo 584 Pub Music

https://templatemo.com/tm-584-pod-talk

-->
    </head>
    
    <body>

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand me-lg-5 me-0" href="/">
                        <img style="height: 1.8em; width: 1.8em;" src="{{ url_for('static', filename='images/logo3.png') }} " class="logo-image img-fluid" alt="templatemo Pub Music">
                    </a>
 <form action="/pesquisar_musicas" method="post" class="custom-form search-form flex-fill me-3" role="search">
        <div class="input-group input-group-lg">    
            <input name="search" type="search" class="form-control" id="search" placeholder="Pesquisar Músicas" aria-label="Search">

            <button type="submit" class="form-control" id="submit">
                <i class="bi-search"></i>
            </button>
        </div>
    </form>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mais</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item active" href="./listing-page">Todas Músicas</a></li>

                                    <li><a class="dropdown-item" href="todos_artistas">Artistas</a></li>
                                </ul>
                            </li>
    
                        </ul>

                        <div class="ms-4">
                            <a href="conta" class="btn custom-btn custom-border-btn smoothscroll bg-white text-primary">Minha Conta</a>
                        </div>
                    </div>
                </div>
            </nav>
            

             <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">

                            <h2 class="mb-0">Todas Músicas</h2>
                        </div>

                    </div>
                </div>
            </header>


            <section class="latest-podcast-section section-padding" id="section_2">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Musicas Em Pub Music</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="trending-podcast-section section-padding pt-0">
                <div class="container">
                    <div class="row">

                        {% for track in tracks %}
                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                          <div class="custom-block custom-block-full">
                            <div class="custom-block-image-wrap">
                              <a href="{{ url_for('details_page', track_id=track.id) }}">
                                <img src="{{ track.capa_url }}" class="custom-block-image img-fluid" alt="{{track.capa_url}}">
                              </a>
                            </div>
                            <div class="custom-block-info">
                              <h5 class="mb-2">
                                <a href="{{ url_for('details_page', track_id=track.id) }}">
                                  {{ track.titulo }}
                                </a>
                              </h5>
                              <div class="profile-block d-flex">
                                <img src="{{track.foto_perfil_url}}" class="profile-block-image img-fluid" alt="">
                                <p>{{ track.nome_artistico }} <strong>Musico</strong></p>
                              </div>
                              <p class="mb-0">{{ track.message[:25] + '...' if track.message|length > 25 else track.message }}</p>
                      
                              <!-- ... (seu HTML existente) ... -->
                            </div>
                            <div class="social-share d-flex flex-column ms-auto">
                              <a href="#" class="badge ms-auto">
                                <i class="bi-heart"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                  
                    </div>
                </div>
            </section>
        </main>


        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                        <div class="subscribe-form-wrap">
                            <h6>Subscreva a newsletter</h6>

                            <form class="custom-form subscribe-form" action="#" method="get" role="form">
                                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control" id="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Contactar</h6>

                        <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> 244 928 134 249</p>

                        <p>
                            <strong class="d-inline me-2">Email:</strong>
                            <a href="#">contato@pub-music.com</a> 
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        

                        <h6 class="site-footer-title mb-3">Social</h6>

                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-whatsapp"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="container pt-5">
                <div class="row align-items-center">

                    <div class="col-lg-2 col-md-3 col-12">
                        <a class="navbar-brand" href="/">
                            <img src="{{ url_for('static', filename='images/logo3.png') }} " class="logo-image img-fluid" alt="templatemo Pub Music">
                        </a>
                    </div>

                    <div class="col-lg-7 col-md-9 col-12">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Homepage</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Browse Musicas</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Help Center</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-12">
                        <p class="copyright-text mb-0">Copyright © 2023 Pub Music
                        <br><br>
                       
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src = "{{ url_for('static', filename = 'js/jquery.min.js' ) }}"></script>
        <script src = "{{ url_for('static', filename = 'js/bootstrap.bundle.min.js' ) }}"></script>
        <script src = "{{ url_for('static', filename = 'js/owl.carousel.min.js' ) }}"></script>
        <script src = "{{ url_for('static', filename = 'js/custom.js' ) }}"></script>

    </body>
</html>